@model SiteAvailabilityMonitoring.Models.LoginViewModel

<div>
    @Html.ActionLink("Registration", "Register")
</div>

@using (Html.BeginForm())
{
    <div>
        @Html.ValidationSummary(true)
        <div>
            @Html.LabelFor(model => model.Login)
            <div>
                @Html.EditorFor(model => model.Login)
                @Html.ValidationMessageFor(model => model.Login)
            </div>
        </div>

        @Html.ValidationSummary(true)
        <div>
            @Html.LabelFor(model => model.Password)
            <div>
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <br/>
        <div>
            <input type="submit" value="Login" />
        </div>
    </div>
}
