@model SiteAvailabilityMonitoring.Models.RegisterViewModel

<h2>Registration</h2>

<div>
    @Html.ActionLink("Registration", "Register")
</div>

@using (Html.BeginForm())
{
<div>
    @Html.ValidationSummary(true)
    <div>
        @Html.LabelFor(model => model.Login)
        <div>
            @Html.EditorFor(model => model.Login)
            @Html.ValidationMessageFor(model => model.Login)
        </div>
    </div>

    @Html.ValidationSummary(true)
    <div>
        @Html.LabelFor(model => model.Password)
        <div>
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
    </div>

    @Html.ValidationSummary(true)
    <div>
        @Html.LabelFor(model => model.ConfirmPassword)
        <div>
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
    </div>
    <br />
    <div>
        <input type="submit" value="Register" />
    </div>
</div>
}