@model SiteAvailabilityMonitoring.Domain.Models.Background
@{
    ViewData["Title"] = "Administration Page";
}

<h2>Edit url</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div>

    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Type)

    <div>
        @Html.LabelFor(model => model.Hour)
        <div>
            @Html.EditorFor(model => model.Hour)
            @Html.ValidationMessageFor(model => model.Hour)
        </div>
    </div>
    <div>
        @Html.LabelFor(model => model.Minutes)
        <div>
            @Html.EditorFor(model => model.Minutes)
            @Html.ValidationMessageFor(model => model.Minutes)
        </div>
    </div>
    <div>
        @Html.LabelFor(model => model.Seconds)
        <div>
            @Html.EditorFor(model => model.Seconds)
            @Html.ValidationMessageFor(model => model.Seconds)
        </div>
    </div>
    <br />
    <div>
        <input type="submit" value="Save" />
    </div>
</div>
}
<div>
    @Html.ActionLink("Go Back", "Index")
</div>