@model SiteAvailabilityMonitoring.Models.AdministrationPageModel
@{
    ViewData["Title"] = "Administration Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-center">
    <h5>Loop time: @Model.Time @Html.ActionLink("Edit", "EditLoopTime")</h5>
</div>

<p>
    @Html.ActionLink("Add new", "Create")
</p>

<table class="table">
    <tr>
        <th>Url</th>
        <th>Availability</th>
        <th></th>
    </tr>

    @foreach (var item in Model.UrlModels)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Url)</td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @Html.ActionLink("Update", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Remove", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>